<% resource_name ||= :user %> <!-- Define resource_name if it's not already defined -->
<% devise_mapping ||= Devise.mappings[resource_name] %> <!-- Define devise_mapping if it's not already defined -->

<div class="form-group">
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to ("Forgot_Password?"), new_password_path(resource_name), class:'forget-color' %><br />
  <% end -%>
</div>
