<section class="background-image">
  <div class="header mini-nav">
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <ul class="navbar-nav float-end flex-row">
          <% if user_signed_in? %>
            <li class="nav-item dropdown" onmouseover="showDropdown()" onmouseout="hideDropdown()">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome <%= current_user.full_name %>!</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="myDropdown">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/my-ads">My Ads</a>
                <a class="dropdown-item" href="/my-rides">My Orders</a>
                <a class="dropdown-item" href="/my-rides">My Saved Ads</a>
                <a class="dropdown-item" href="/my-rides">My Rides</a>
                <a class="dropdown-item" href="/my-rides">Alerts</a>
                <a class="dropdown-item" href="/my-rides">Messages (0)</a>
                <a class="dropdown-item" href="/my-rides">Change Password</a>
                <a class="dropdown-item" href="/my-rides">Payment & Receipts</a>
                <a class="dropdown-item" href="/logout">Sign Out</a>
              </div>
            </li>
            <li class="message-icon">
              <a href="<%= user_profile_path %>">| <i class="fa fa-envelope fa-large" aria-hidden="true"></i></a>
            </li>
          <% else %>
            <li class="nav-item">
              <a href="#signUpModal" class="nav-link" id="navbar-Sign-up-modal" data-toggle="modal" data-target="#signUpModal">| Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="#signInModal" class="nav-link" id="navbar-link" data-toggle="modal" data-target="#signInModal">| Sign In</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <div class="main-nav clearfix">
    <nav class="navbar navbar-expand-lg">
      <div class="">
        <div class="collapse navbar-collapse" id="mainNavSupportedContent">
          <ul class="navbar-nav float-right">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Used Cars
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                New Cars
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bikes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Auto Store
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Forums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-post" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Post an Ad
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>