<%= render 'home/navbar'%>


<div class="modal fade" id="forgotModal"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div>
        <i id="forgotBackButton" class="fas fa-angle-left fa-2x font-forgot"></i>
      </div>
      <div class="modal-head-forgot">
        <h5 class="modal-title-forgot" id="staticBackdropLabel"></h5>
      </div>
      <div class="modal-body forgot-modal">
        <%= render partial: 'devise/passwords/password', locals: { resource: @resource, resource_name: @resource_name } %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content sign-content">
      <div>
        <i id="signInBackButton" class="fas fa-angle-left fa-2x font-signin"></i>
      </div>
      <div class="modal-head">
        <h5 class="modal-titl" id="exampleModalLabel2">Enter Your Email</h5>
      </div>
      <div class="modal-body">
        <%= render 'devise/sessions/signin', locals: { resource: @resource, resource_name: :user } %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUpModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div><i class="fa-solid fa-angle-left fa-2x font-signup"></i></div>
      <div class="modal-head">
        <h5 class="modal-title" id="exampleModalLabel1">Let's get you started!</h5>
      </div>
      <div class="modal-body">
        <div class="signUp-ren">
          <div>
            <%= render partial: 'devise/registrations/form', locals: { resource: @resource, resource_name: :user } %>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>