<%= render 'users/backnavbar' %>
<div>
  <section class="section-design">
    <div>
      <h1 class="h-sell">Sell Your Car Online in Pakistan Instantly!</h1>
      <h2 class="h-sell">Choose How to Sell Your Car</h2>
    </div>
    <div class="container-xl" style="max-width: 1100px;" >
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="design-card d-flex justify-content-center">
            <div class="col-md-10 text-center d-flex">
              <div class="card body-card">
                <div class="card-body">
                  <h5 class="card-title">Post your Ad on PakWheels</h5>
                  <div class="image-top">
                    <img src="/assets/sell-car.png" alt="Description of the image">
                  </div>
                  <ul class="list-ul">
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Post your Ad for Free in 3 Easy Steps</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Get Genuine offers from Verified Buyers</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Sell your car Fast at the Best Price</li>
                  </ul>
                  <a href="<%= used_cars_sell_post_ad_path %>" class="btn btn-primary btn-lg col-md-8">Post An Ad</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="design-card d-flex justify-content-center">
            <div class="col-md-10 text-center d-flex">
              <div class="card body-card">
                <div class="card-body body2-position">
                  <h5 class="card-title">Try PakWheels Sell it For Me </h5>
                  <div class="image-top">
                    <img src="/assets/sell-car2.png" alt="Description of the image">
                  </div>
                  <ul class="list-ul">
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Dedicated Sales Expert to Sell Your Car</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>We Bargain for you and share the Best Offer</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>We ensure Safe and Secure Transaction</li>
                  </ul>
                  <p class="text-danger card-para">* Service available only in Karachi, Lahore, Islamabad and Rawalpindi</p> 
                  <%= link_to "Sell It For Me", '/products/pakwheels-sell-it-for-me/new', class: "btn btn-primary btn-lg col-md-8" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="card-p2 text-dark"> * By continuing, You are agreeing to the <a class="text-dark">terms of service</a> and <a class="text-dark">privacy policy<a/></p>
  </section>
  <section class="design-26">
    <div class="container container-width26">
      <h2 class="h2-26">Why Sell Your Car On PakWheels?</h2>
      <div class="row cards-26-container">
        <div class="col-md-3 card card-26">
          <div class="card-body custom-card-body-26">
            <div class="image-content-26">
              <img src="/assets/number-11.jpg" alt="Description of your image" class="image-jpg-26">
             </div>
            <h5 class="card-title h5-26"></h5>
            <p class="para-26"> Pakistan's #1 automotive  market place </p>
          </div>
        </div>
        <div class="col-md-3 card card-26">
          <div class="card-body custom-card-body-26">
            <div class="image-content-26">
              <img src="/assets/five-lakhs.jpg" alt="Description of your image" class="image-jpg-26">          
            </div>
            <h5 class="card-title h5-26"></h5>  
            <p class="para-26">5 lac+ visitors daily</p>
          </div>
        </div>
        <div class="col-md-3 card card-26">
          <div class="card-body  custom-card-body-26">
            <div class="image-content-26">
              <img src="/assets/three-millions.jpg" alt="Description of your image" class="image-jpg-26">           
            </div>
            <h5 class="card-title h5-26"></h5>
            <p class="para-26">3 milllion+ cars sold</p>
          </div>
        </div>
        <div class="col-md-3 card card-26">
          <div class="card-body  custom-card-body-26">
            <div class="image-content-26">
              <img src="/assets/forty-eight.jpg" alt="Description of your image" class="image-jpg-26">          
            </div>
            <h5 class="card-title h5-26"></h5>
            <p class="para-26">80% cars sold within 48 hours</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="design-27">
    <div class="container container-w-27">
      <h2 class="h2-26">3 Simple Step To Sell Your Car</h2>
      <div class="row text-center design-27-mtop">
        <div class="col-sm-4 c-design-27">
          <div>
            <img src="/assets/sign-up.png" alt="Description of the image" class="image-jpg-27">       
          </div>
          <h3 class="h3-design-27">Sign Up</h3>
          <p>Register Yourself on Pakwheel.com to post an ad.</p>
        </div>
        <div class="col-sm-4 c-design-27">
          <div>
            <img src="/assets/create-ad.png" alt="Description of the image" class="image-jpg-27">         
          </div>
          <h3 class="h3-design-27">Create your ad</h3>
          <p>Provide necessary details about your used car and make sure to upload clear photos.</p>
        </div>
        <div class="col-sm-4 c-design-27">
          <div>
            <img src="/assets/instant-offer.png" alt="Description of the image" class="image-jpg-27">            
          </div>
          <h3 class="h3-design-27">Get instant Offers</h3>
          <p>Relax & get ready for instant offers from genuine buyers.</p>
        </div>
      <div>
    <div>
  </section>
  <section class="design-28">
    <div class="container container-width-28">
      <h2 class="h2-26">3 Simple Step To Sell Your Car</h2>
      <div class="row text-center">
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <img src="/assets/camra-icon.jpg" alt="Description of the image"  class="custom-size-28-1">    
          </div>
          <h3 class="fsize-28 nomargin text-dark">Upload Good Quality Photos</h3>
          <p class="design-card-paras">Take photos in landscape
            <a  class="a-card" href=" "></a> 
            mode. Ads with multiple good quality images have 90% more views and are likely to be sold faster.
          </p>
        </div>
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <img src="/assets/car-icon.jpg" alt="Description of the image" class="custom-size-28-2">                             
          </div>
          <h3 class="fsize-28 nomargin text-dark">Feature Your Ad</h3>
          <p class="design-card-paras">Feature your ad 
            <a  class="a-card" href=" "></a>
            to bring it to the top. Ads with a featured tag get sold 10 times faster.
          </p>
        </div>
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <img src="/assets/list-icon.jpg" alt="Description of the image" class="custom-size-28-3">            
          </div>
          <h3 class="fsize-28 nomargin text-dark">Attach Auction Sheet</h3>
          <p class="design-card-paras">
            For imported Japanese cars, attaching"
            <a  class="a-card" href=" ">PakWheels Verified Auction Sheet</a>
            saves you time from needless calls of buyers inquiring about your car’s history.
          </p>
        </div>
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <img src="/assets/car-search.jpg" alt="Description of the image" class="custom-size-28-4">                         
          </div>
          <h3 class="fsize-28 nomargin text-dark">Attach Inspection Report</h3>
          <div>
            <p class="design-card-paras">
              Trust is built on credibility. Make your ad more credible with 
              <a class="a-card" href=" ">PakWheels Inspection Report</a>
              to avail the best possible price for your car.
            </p>
          </div>
        </div>
      </div>
      <p class="design-25-lst-para"> Note: In case you are short on time to follow these tips yourself, then
        <a href=" ">PakWheels Sell It For Me</a> 
        "service is the right choice for you. Our trained sales team takes full responsibility, from posting your ad to ensuring that you get the best offer."
      </p>
    </div>
  </section>
  <section class="design-29">
    <div class="container container-width-29">
      <h2 class="h2-29">Sell Car Success Stories</h2>
      <div id="carouselExampleIndicators" class="carousel slide">
        <ol class="carousel-indicators">
          <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
          <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-4 sectionpk-29-column">
                <div class="ratio ratio-4x3">
                  <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
                </div>
                <p class="review-car">
                  I sold my car within 2.5 Hours on PakWheels! I put up the ad, and in no time, I got an offer to sell my car for the exact price I had asked for! It was surprisingly quick!
                </p>
                <div class="review-car-detail row">
                  <div class="col-md-8">
                    <h5 class="ftz-29"> Mansoor Ali Khan</h5>
                    <p class="card-29-para">Lahore</p>
                  </div>
                  <div class="col-md-4 pakwheel-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 sectionpk-29-column">
                <div class="ratio ratio-4x3">
                  <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
                </div>
                <p class="review-car">
                  I sold my car within 2.5 Hours on PakWheels! I put up the ad, and in no time, I got an offer to sell my car for the exact price I had asked for! It was surprisingly quick!
                </p>
                <div class="review-car-detail row">
                  <div class="col-md-8">
                    <h5 class="ftz-29"> Bilal Asfar</h5>
                    <p class="card-29-para">Karachi</p>
                  </div>
                  <div class="col-md-4 pakwheel-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 sectionpk-29-column">
                <div class="ratio ratio-4x3">
                  <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
                </div>
                <p class="review-car">
                  I sold my car within 2.5 Hours on PakWheels! I put up the ad, and in no time, I got an offer to sell my car for the exact price I had asked for! It was surprisingly quick!
                </p>
                <div class="review-car-detail row">
                  <div class="col-md-8">
                    <h5 class="ftz-29"> Herman Memon</h5>
                    <p class="card-29-para">Hyderabad</p>
                  </div>
                  <div class="col-md-4 pakwheel-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-6 sectionpk-29-column">
                <div class="ratio ratio-4x3">
                  <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
                </div>
                <p class="review-car">
                  I sold my car within 2.5 Hours on PakWheels! I put up the ad, and in no time, I got an offer to sell my car for the exact price I had asked for! It was surprisingly quick!
                </p>
                <div class="review-car-detail row">
                  <div class="col-md-8">
                    <h5 class="ftz-29"> Fasial Qureshi</h5>
                    <p class="card-29-para">Karachi</p>
                  </div>
                  <div class="col-md-4 pakwheel-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 sectionpk-29-column">
                <div class="ratio ratio-4x3">
                  <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
                </div>
                <p class="review-car">
                  I sold my car within 2.5 Hours on PakWheels! I put up the ad, and in no time, I got an offer to sell my car for the exact price I had asked for! It was surprisingly quick!
                </p>
                <div class="review-car-detail row">
                  <div class="col-md-8">
                    <h5 class="ftz-29">Syed Owais Ali</h5>
                    <p class="card-29-para">Islamabad</p>
                  </div>
                  <div class="col-md-4 pakwheel-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev carousel-control-outer" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <i class="fa fa-chevron-left"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-control-oo" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <i class="fa fa-chevron-right"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <section class="design-31">
    <div class="container container-width26">
      <h2 class="h2-31">Interesing Tips</h2>
      <div class="row cards-31-container">
        <div class="col-md-3 card card-31">
          <div class="card-body custom-card-body-31">
            <div class="image-content-31">
              <img src="/assets/tip-icon-31.png" alt="Description of your image" class="image-jpg-31">
             </div>
            <h5 class="card-title h5-31"></h5>
            <p class="para-31"> Get your car repaired and fix any minor defects to increase its resale value </p>
          </div>
        </div>
        <div class="col-md-3 card card-31">
          <div class="card-body custom-card-body-31">
            <div class="image-content-31">
              <img src="/assets/tip-icon-31.png" alt="Description of your image" class="image-jpg-31">          
            </div>
            <h5 class="card-title h5-31"></h5>  
            <p class="para-31">
              Set up a reasonable price as it will determine how long it will take for your car to sell
            </p>
          </div>
        </div>
        <div class="col-md-3 card card-26">
          <div class="card-body  custom-card-body-31">
            <div class="image-content-31">
              <img src="/assets/tip-icon-31.png" alt="Description of your image" class="image-jpg-31">           
            </div>
            <h5 class="card-title h5-31"></h5>
            <p class="para-31">
              Beware of unrealistic offers and carry out safe transactions to avoid being defrauded
            </p>
          </div>
        </div>
        <div class="col-md-3 card card-31">
          <div class="card-body  custom-card-body-31">
            <div class="image-content-31">
              <img src="/assets/tip-icon-31.png" alt="Description of your image" class="image-jpg-31">          
            </div>
            <h5 class="card-title h5-31"></h5>
            <p class="para-31">
              Get your car inspected by PakWheels to get premium rates
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>