<%= render 'users/backnavbar' %>
<div>
  <section class="section-design">
    <div>
      <h1 class="h-sell">Sell Your Car Online in Pakistan Instantly!</h1>
      <h2 class="h-sell">Choose How to Sell Your Car</h2>
    </div>
    <div class="container-xl" style="max-width: 1100px;" >
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="design-card d-flex justify-content-center">
            <div class="col-md-10 text-center d-flex">
              <div class="card body-card">
                <div class="card-body">
                  <h5 class="card-title">Post your Ad on PakWheels</h5>
                  <div class="image-top">
                    <img src="/assets/sell-car.png" alt="Description of the image">
                  </div>
                  <ul class="list-ul">
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Post your Ad for Free in 3 Easy Steps</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Get Genuine offers from Verified Buyers</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Sell your car Fast at the Best Price</li>
                  </ul>
                  <a href="<%= post_ad_path %>" class="btn btn-primary btn-lg col-md-8">Post An Ad</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="design-card d-flex justify-content-center">
            <div class="col-md-10 text-center d-flex">
              <div class="card body-card">
                <div class="card-body body2-position">
                  <h5 class="card-title">Try PakWheels Sell it For Me </h5>
                  <div class="image-top">
                    <img src="/assets/sell-car2.png" alt="Description of the image">
                  </div>
                  <ul class="list-ul">
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Dedicated Sales Expert to Sell Your Car</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>We Bargain for you and share the Best Offer</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>We ensure Safe and Secure Transaction</li>
                  </ul>
                  <p class="text-danger card-para">* Service available only in Karachi, Lahore, Islamabad and Rawalpindi</p> 
                  <%= link_to "Sell It For Me", '/products/pakwheels-sell-it-for-me/new', class: "btn btn-primary btn-lg col-md-8" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="card-p2 text-dark"> * By continuing, You are agreeing to the <a class="text-dark">terms of service</a> and <a class="text-dark">privacy policy<a/></p>
  </section>
</div>