<%= render 'users/backnavbar' %>
<div>
  <section class="section-design">
    <div>
      <h1 class="h-sell">Sell Your Car Online in Pakistan Instantly!</h1>
      <h2 class="h-sell">Choose How to Sell Your Car</h2>
    </div>
    <div class="container-xl" style="max-width: 1100px;" >
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="design-card d-flex justify-content-center">
            <div class="col-md-10 text-center d-flex">
              <div class="card body-card">
                <div class="card-body">
                  <h5 class="card-title">Post your Ad on PakWheels</h5>
                  <div class="image-top">
                    <img src="/assets/sell-car.png" alt="Description of the image">
                  </div>
                  <ul class="list-ul">
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Post your Ad for Free in 3 Easy Steps</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Get Genuine offers from Verified Buyers</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Sell your car Fast at the Best Price</li>
                  </ul>
                  <a href="<%= used_cars_sell_post_ad_path %>" class="btn btn-primary btn-lg col-md-8">Post An Ad</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="design-card d-flex justify-content-center">
            <div class="col-md-10 text-center d-flex">
              <div class="card body-card">
                <div class="card-body body2-position">
                  <h5 class="card-title">Try PakWheels Sell it For Me </h5>
                  <div class="image-top">
                    <img src="/assets/sell-car2.png" alt="Description of the image">
                  </div>
                  <ul class="list-ul">
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>Dedicated Sales Expert to Sell Your Car</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>We Bargain for you and share the Best Offer</li>
                    <li class="d-flex align-center font-f"><i class="fa fa-check text-primary me-2"></i>We ensure Safe and Secure Transaction</li>
                  </ul>
                  <p class="text-danger card-para">* Service available only in Karachi, Lahore, Islamabad and Rawalpindi</p> 
                  <%= link_to "Sell It For Me", '/products/pakwheels-sell-it-for-me/new', class: "btn btn-primary btn-lg col-md-8" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="card-p2 text-dark"> * By continuing, You are agreeing to the <a class="text-dark">terms of service</a> and <a class="text-dark">privacy policy<a/></p>
  </section>
  <section class="design-26">
    <div class="container">
      <h2 class="h2-26">Why Sell Your Car On PakWheels?</h2>
      <div class="row cards-26-container">
        <div class="col-md-3 card card-26">
          <div class="card-body custom-card-body-26">
            <div class="image-content-26">
              <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.99" cx="30.5" cy="30" r="30" fill="white"/>
                <path d="M17.1016 40L20.5742 20.0938H23.0488L19.5762 40H17.1016ZM22.2285 40L25.7148 20.0938H28.1895L24.7031 40H22.2285ZM30.2266 28.0918H15.9941V25.7812H30.2266V28.0918ZM29.1875 34.3945H14.9688V32.0977H29.1875V34.3945ZM41.7246 20.0527V40H37.7871V24.5918L33.0566 26.0957V22.9922L41.3008 20.0527H41.7246Z" fill="black"/>
              </svg>
             </div>
            <h5 class="card-title h5-26"></h5>
            <p class="para-26"> Pakistan's #1 automotive  market place </p>
          </div>
        </div>
        <div class="col-md-3 card card-26">
          <div class="card-body custom-card-body-26">
            <div class="image-content-26">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="55" height="55" rx="29.8929" fill="white"/>
                <path d="M26.745 23.583L23.8251 22.8848L24.8788 13.5156H35.2635V16.4736H27.8876L27.4305 20.5742C27.676 20.4303 28.0484 20.278 28.5477 20.1172C29.0471 19.9479 29.6057 19.8633 30.2235 19.8633C31.1206 19.8633 31.9162 20.0029 32.6102 20.2822C33.3042 20.5615 33.8925 20.9678 34.3749 21.501C34.8658 22.0342 35.2382 22.6859 35.4921 23.4561C35.746 24.2262 35.8729 25.098 35.8729 26.0713C35.8729 26.8923 35.746 27.6751 35.4921 28.4199C35.2382 29.1562 34.8531 29.8164 34.3368 30.4004C33.8205 30.9759 33.1731 31.4287 32.3944 31.7588C31.6158 32.0889 30.6932 32.2539 29.6268 32.2539C28.8313 32.2539 28.0611 32.1354 27.3163 31.8984C26.58 31.6615 25.9156 31.3102 25.3231 30.8447C24.7391 30.3792 24.2694 29.8164 23.9139 29.1562C23.5669 28.4876 23.385 27.7259 23.368 26.8711H26.9989C27.0497 27.3958 27.1851 27.8486 27.4052 28.2295C27.6337 28.6019 27.9341 28.8896 28.3065 29.0928C28.6789 29.2959 29.1148 29.3975 29.6141 29.3975C30.0796 29.3975 30.4774 29.3086 30.8075 29.1309C31.1376 28.9531 31.4042 28.7077 31.6073 28.3945C31.8104 28.0729 31.9585 27.7005 32.0516 27.2773C32.1532 26.8457 32.204 26.3802 32.204 25.8809C32.204 25.3815 32.1447 24.9287 32.0262 24.5225C31.9078 24.1162 31.7258 23.765 31.4803 23.4688C31.2349 23.1725 30.9218 22.944 30.5409 22.7832C30.1685 22.6224 29.7326 22.542 29.2333 22.542C28.5562 22.542 28.0315 22.6478 27.6591 22.8594C27.2951 23.071 26.9904 23.3122 26.745 23.583Z" fill="black"/>
                <path d="M21.5907 45.4004V47H16.58V45.4004H21.5907ZM17.243 37.0469V47H15.1923V37.0469H17.243ZM26.6356 45.332V42.0371C26.6356 41.8001 26.5969 41.5973 26.5194 41.4287C26.4419 41.2555 26.3212 41.1211 26.1571 41.0254C25.9976 40.9297 25.7902 40.8818 25.535 40.8818C25.3163 40.8818 25.1272 40.9206 24.9677 40.998C24.8081 41.071 24.6851 41.1781 24.5985 41.3193C24.5119 41.4561 24.4686 41.6178 24.4686 41.8047H22.4999C22.4999 41.4902 22.5728 41.1917 22.7186 40.9092C22.8645 40.6266 23.0764 40.3783 23.3544 40.1641C23.6324 39.9453 23.9628 39.7744 24.3456 39.6514C24.733 39.5283 25.1659 39.4668 25.6444 39.4668C26.2186 39.4668 26.729 39.5625 27.1757 39.7539C27.6223 39.9453 27.9732 40.2324 28.2284 40.6152C28.4882 40.998 28.618 41.4766 28.618 42.0508V45.2158C28.618 45.6214 28.6431 45.9541 28.6932 46.2139C28.7434 46.4691 28.8163 46.6924 28.912 46.8838V47H26.9227C26.827 46.7995 26.7541 46.5488 26.704 46.248C26.6584 45.9427 26.6356 45.6374 26.6356 45.332ZM26.8954 42.4951L26.9091 43.6094H25.8085C25.5487 43.6094 25.3231 43.639 25.1317 43.6982C24.9403 43.7575 24.7831 43.8418 24.66 43.9512C24.537 44.056 24.4458 44.179 24.3866 44.3203C24.3319 44.4616 24.3046 44.6165 24.3046 44.7852C24.3046 44.9538 24.3433 45.1064 24.4208 45.2432C24.4983 45.3753 24.6099 45.4801 24.7557 45.5576C24.9016 45.6305 25.0725 45.667 25.2684 45.667C25.5647 45.667 25.8221 45.6077 26.0409 45.4893C26.2596 45.3708 26.4283 45.2249 26.5468 45.0518C26.6698 44.8786 26.7336 44.7145 26.7382 44.5596L27.2577 45.3936C27.1848 45.5804 27.0845 45.7741 26.9569 45.9746C26.8339 46.1751 26.6766 46.3643 26.4852 46.542C26.2938 46.7152 26.0637 46.8587 25.7948 46.9727C25.5259 47.082 25.2069 47.1367 24.8378 47.1367C24.3684 47.1367 23.9423 47.0433 23.5594 46.8564C23.1812 46.665 22.8804 46.403 22.6571 46.0703C22.4384 45.7331 22.329 45.3503 22.329 44.9219C22.329 44.5345 22.4019 44.1904 22.5477 43.8896C22.6936 43.5889 22.9078 43.3359 23.1903 43.1309C23.4774 42.9212 23.8352 42.764 24.2635 42.6592C24.6919 42.5498 25.1887 42.4951 25.7538 42.4951H26.8954ZM32.1044 36.4932V47H30.1356V36.4932H32.1044ZM36.7665 39.6035L33.5536 43.2676L31.8309 45.0107L31.1132 43.5889L32.4803 41.8525L34.4012 39.6035H36.7665ZM34.7225 47L32.535 43.582L33.8954 42.3926L36.9921 47H34.7225ZM39.535 36.5V47H37.5663V36.5H39.535ZM39.2548 43.042H38.7147C38.7193 42.527 38.7876 42.0531 38.9198 41.6201C39.052 41.1826 39.2411 40.8044 39.4872 40.4854C39.7333 40.1618 40.0272 39.9111 40.369 39.7334C40.7154 39.5557 41.0982 39.4668 41.5175 39.4668C41.882 39.4668 42.2124 39.5192 42.5087 39.624C42.8094 39.7243 43.0669 39.8883 43.2811 40.1162C43.4999 40.3395 43.6685 40.6335 43.787 40.998C43.9055 41.3626 43.9647 41.8047 43.9647 42.3242V47H41.9823V42.3105C41.9823 41.9824 41.9344 41.7249 41.8387 41.5381C41.7476 41.3467 41.6132 41.2122 41.4354 41.1348C41.2622 41.0527 41.0481 41.0117 40.7928 41.0117C40.5103 41.0117 40.2688 41.0641 40.0682 41.1689C39.8723 41.2738 39.715 41.4196 39.5966 41.6064C39.4781 41.7887 39.3915 42.0029 39.3368 42.249C39.2821 42.4951 39.2548 42.7594 39.2548 43.042Z" fill="black"/>
              </svg>            
            </div>
            <h5 class="card-title h5-26"></h5>  
            <p class="para-26">5 lac+ visitors daily</p>
          </div>
        </div>
        <div class="col-md-3 card card-26">
          <div class="card-body  custom-card-body-26">
            <div class="image-content-26">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="60" height="60" rx="30" fill="white"/>
                <path d="M15.662 29.1709H17.6171C18.2434 29.1709 18.7596 29.0651 19.1659 28.8535C19.5721 28.6335 19.8726 28.3288 20.0673 27.9395C20.2704 27.5417 20.3719 27.0804 20.3719 26.5557C20.3719 26.0817 20.2788 25.6628 20.0927 25.2988C19.9149 24.9264 19.6399 24.6387 19.2675 24.4355C18.8951 24.224 18.4253 24.1182 17.8583 24.1182C17.4097 24.1182 16.995 24.207 16.6141 24.3848C16.2333 24.5625 15.9286 24.8122 15.7001 25.1338C15.4716 25.4554 15.3573 25.8447 15.3573 26.3018H11.6884C11.6884 25.2861 11.9592 24.4017 12.5009 23.6484C13.051 22.8952 13.7873 22.307 14.7098 21.8838C15.6324 21.4606 16.648 21.249 17.7567 21.249C19.0093 21.249 20.1053 21.4521 21.0448 21.8584C21.9843 22.2562 22.7163 22.8444 23.2411 23.623C23.7658 24.4017 24.0282 25.3665 24.0282 26.5176C24.0282 27.1016 23.8928 27.6686 23.6219 28.2188C23.3511 28.7604 22.9618 29.2513 22.454 29.6914C21.9546 30.123 21.3453 30.4701 20.6259 30.7324C19.9065 30.9863 19.0982 31.1133 18.201 31.1133H15.662V29.1709ZM15.662 31.9512V30.0596H18.201C19.2082 30.0596 20.0927 30.1738 20.8544 30.4023C21.6161 30.6309 22.2551 30.9609 22.7714 31.3926C23.2876 31.8158 23.677 32.3193 23.9393 32.9033C24.2017 33.4788 24.3329 34.1178 24.3329 34.8203C24.3329 35.6836 24.1678 36.4538 23.8378 37.1309C23.5077 37.7995 23.0422 38.3665 22.4413 38.832C21.8488 39.2975 21.1548 39.653 20.3593 39.8984C19.5637 40.1354 18.6962 40.2539 17.7567 40.2539C16.9781 40.2539 16.2121 40.1481 15.4589 39.9365C14.7141 39.7165 14.037 39.3906 13.4276 38.959C12.8267 38.5189 12.3443 37.9688 11.9803 37.3086C11.6249 36.64 11.4471 35.8486 11.4471 34.9346H15.1161C15.1161 35.4085 15.2346 35.8317 15.4716 36.2041C15.7085 36.5765 16.0344 36.8685 16.4491 37.0801C16.8723 37.2917 17.342 37.3975 17.8583 37.3975C18.4423 37.3975 18.9416 37.2917 19.3563 37.0801C19.7795 36.86 20.1011 36.5553 20.3212 36.166C20.5497 35.7682 20.6639 35.307 20.6639 34.7822C20.6639 34.1051 20.5412 33.5635 20.2958 33.1572C20.0503 32.7425 19.6991 32.4378 19.2421 32.2432C18.785 32.0485 18.2434 31.9512 17.6171 31.9512H15.662ZM28.9667 21.5156H32.1913L36.9393 35.0869L41.6874 21.5156H44.912L38.2343 40H35.6444L28.9667 21.5156ZM27.2274 21.5156H30.4393L31.0233 34.7441V40H27.2274V21.5156ZM43.4393 21.5156H46.6639V40H42.8553V34.7441L43.4393 21.5156Z" fill="black"/>
              </svg>            
            </div>
            <h5 class="card-title h5-26"></h5>
            <p class="para-26">3 milllion+ cars sold</p>
          </div>
        </div>
        <div class="col-md-3 card card-26">
          <div class="card-body  custom-card-body-26">
            <div class="image-content-26">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.99" cx="30" cy="30" r="30" fill="white"/>
                <path d="M19.0498 41.1006V42.7002H13.8545V41.1006H19.0498ZM14.4629 37.0469V47H12.4121V37.0469H14.4629ZM20.5127 37.0469V47H18.4688V37.0469H20.5127ZM21.8594 43.377V43.2334C21.8594 42.6911 21.9368 42.1921 22.0918 41.7363C22.2467 41.276 22.4723 40.8773 22.7686 40.54C23.0648 40.2028 23.4294 39.9408 23.8623 39.7539C24.2952 39.5625 24.792 39.4668 25.3525 39.4668C25.9131 39.4668 26.4121 39.5625 26.8496 39.7539C27.2871 39.9408 27.654 40.2028 27.9502 40.54C28.251 40.8773 28.4788 41.276 28.6338 41.7363C28.7887 42.1921 28.8662 42.6911 28.8662 43.2334V43.377C28.8662 43.9147 28.7887 44.4137 28.6338 44.874C28.4788 45.3298 28.251 45.7285 27.9502 46.0703C27.654 46.4076 27.2894 46.6696 26.8564 46.8564C26.4235 47.0433 25.9268 47.1367 25.3662 47.1367C24.8057 47.1367 24.3066 47.0433 23.8691 46.8564C23.4362 46.6696 23.0693 46.4076 22.7686 46.0703C22.4723 45.7285 22.2467 45.3298 22.0918 44.874C21.9368 44.4137 21.8594 43.9147 21.8594 43.377ZM23.8281 43.2334V43.377C23.8281 43.6868 23.8555 43.9762 23.9102 44.2451C23.9648 44.514 24.0514 44.751 24.1699 44.9561C24.293 45.1566 24.4525 45.3138 24.6484 45.4277C24.8444 45.5417 25.0837 45.5986 25.3662 45.5986C25.6396 45.5986 25.8743 45.5417 26.0703 45.4277C26.2663 45.3138 26.4235 45.1566 26.542 44.9561C26.6605 44.751 26.7471 44.514 26.8018 44.2451C26.861 43.9762 26.8906 43.6868 26.8906 43.377V43.2334C26.8906 42.9326 26.861 42.6501 26.8018 42.3857C26.7471 42.1169 26.6582 41.8799 26.5352 41.6748C26.4167 41.4652 26.2594 41.3011 26.0635 41.1826C25.8675 41.0641 25.6305 41.0049 25.3525 41.0049C25.0745 41.0049 24.8376 41.0641 24.6416 41.1826C24.4502 41.3011 24.293 41.4652 24.1699 41.6748C24.0514 41.8799 23.9648 42.1169 23.9102 42.3857C23.8555 42.6501 23.8281 42.9326 23.8281 43.2334ZM34.4512 45.2295V39.6035H36.4199V47H34.5674L34.4512 45.2295ZM34.6699 43.7119L35.251 43.6982C35.251 44.1904 35.194 44.6484 35.0801 45.0723C34.9661 45.4915 34.7952 45.8561 34.5674 46.166C34.3395 46.4714 34.0524 46.7106 33.7061 46.8838C33.3597 47.0524 32.9518 47.1367 32.4824 47.1367C32.1224 47.1367 31.7897 47.0866 31.4844 46.9863C31.1836 46.8815 30.9238 46.7197 30.7051 46.501C30.4909 46.2777 30.3223 45.9928 30.1992 45.6465C30.0807 45.2956 30.0215 44.874 30.0215 44.3818V39.6035H31.9902V44.3955C31.9902 44.6143 32.0153 44.7988 32.0654 44.9492C32.1201 45.0996 32.1953 45.2227 32.291 45.3184C32.3867 45.4141 32.4984 45.4824 32.626 45.5234C32.7581 45.5645 32.904 45.585 33.0635 45.585C33.4691 45.585 33.7881 45.5029 34.0205 45.3389C34.2575 45.1748 34.4238 44.9515 34.5195 44.6689C34.6198 44.3818 34.6699 44.0628 34.6699 43.7119ZM39.8926 41.2168V47H37.9238V39.6035H39.7764L39.8926 41.2168ZM42.1211 39.5557L42.0869 41.3809C41.9912 41.3672 41.875 41.3558 41.7383 41.3467C41.6061 41.333 41.4854 41.3262 41.376 41.3262C41.098 41.3262 40.8564 41.3626 40.6514 41.4355C40.4508 41.5039 40.2822 41.6064 40.1455 41.7432C40.0133 41.8799 39.9131 42.0462 39.8447 42.2422C39.7809 42.4382 39.7445 42.6615 39.7354 42.9121L39.3389 42.7891C39.3389 42.3105 39.3867 41.8708 39.4824 41.4697C39.5781 41.0641 39.7171 40.7109 39.8994 40.4102C40.0863 40.1094 40.3141 39.877 40.583 39.7129C40.8519 39.5488 41.1595 39.4668 41.5059 39.4668C41.6152 39.4668 41.7269 39.4759 41.8408 39.4941C41.9548 39.5078 42.0482 39.5283 42.1211 39.5557ZM47.0498 44.9561C47.0498 44.8148 47.0088 44.6872 46.9268 44.5732C46.8447 44.4593 46.6921 44.3545 46.4688 44.2588C46.25 44.1585 45.9333 44.0674 45.5186 43.9854C45.1449 43.9033 44.7962 43.8008 44.4727 43.6777C44.1536 43.5501 43.8757 43.3975 43.6387 43.2197C43.4062 43.042 43.224 42.8324 43.0918 42.5908C42.9596 42.3447 42.8936 42.0645 42.8936 41.75C42.8936 41.4401 42.9596 41.1484 43.0918 40.875C43.2285 40.6016 43.4222 40.36 43.6729 40.1504C43.9281 39.9362 44.238 39.7699 44.6025 39.6514C44.9717 39.5283 45.3864 39.4668 45.8467 39.4668C46.4893 39.4668 47.0407 39.5693 47.501 39.7744C47.9658 39.9795 48.3213 40.262 48.5674 40.6221C48.818 40.9775 48.9434 41.3831 48.9434 41.8389H46.9746C46.9746 41.6475 46.9336 41.4766 46.8516 41.3262C46.7741 41.1712 46.651 41.0505 46.4824 40.9639C46.3184 40.8727 46.1042 40.8271 45.8398 40.8271C45.6211 40.8271 45.432 40.8659 45.2725 40.9434C45.113 41.0163 44.9899 41.1165 44.9033 41.2441C44.8213 41.3672 44.7803 41.5039 44.7803 41.6543C44.7803 41.7682 44.8031 41.8708 44.8486 41.9619C44.8988 42.0485 44.9785 42.1283 45.0879 42.2012C45.1973 42.2741 45.3385 42.3424 45.5117 42.4062C45.6895 42.4655 45.9082 42.5202 46.168 42.5703C46.7012 42.6797 47.1774 42.8232 47.5967 43.001C48.016 43.1742 48.3486 43.4111 48.5947 43.7119C48.8408 44.0081 48.9639 44.3978 48.9639 44.8809C48.9639 45.209 48.891 45.5098 48.7451 45.7832C48.5993 46.0566 48.3896 46.2959 48.1162 46.501C47.8428 46.7015 47.5146 46.8587 47.1318 46.9727C46.7536 47.082 46.3275 47.1367 45.8535 47.1367C45.1654 47.1367 44.582 47.0137 44.1035 46.7676C43.6296 46.5215 43.2695 46.2093 43.0234 45.8311C42.7819 45.4482 42.6611 45.0563 42.6611 44.6553H44.5273C44.5365 44.9242 44.6048 45.1406 44.7324 45.3047C44.8646 45.4688 45.0309 45.5872 45.2314 45.6602C45.4365 45.7331 45.6576 45.7695 45.8945 45.7695C46.1497 45.7695 46.3617 45.7354 46.5303 45.667C46.6989 45.5941 46.8265 45.4984 46.9131 45.3799C47.0042 45.2568 47.0498 45.1156 47.0498 44.9561Z" fill="black"/>
                <path d="M29.2891 26.0938V28.9629H15.9717L15.7939 26.7412L23.5 14.5156H26.4072L23.2588 19.7842L19.4248 26.0938H29.2891ZM27.1943 14.5156V33H23.5381V14.5156H27.1943ZM43.7236 27.9346C43.7236 29.0941 43.4528 30.0716 42.9111 30.8672C42.3695 31.6543 41.6247 32.251 40.6768 32.6572C39.7373 33.055 38.6709 33.2539 37.4775 33.2539C36.2842 33.2539 35.2135 33.055 34.2656 32.6572C33.3177 32.251 32.5687 31.6543 32.0186 30.8672C31.4684 30.0716 31.1934 29.0941 31.1934 27.9346C31.1934 27.1559 31.3499 26.4535 31.6631 25.8271C31.9762 25.1924 32.4121 24.6507 32.9707 24.2021C33.5378 23.7451 34.2021 23.3981 34.9639 23.1611C35.7256 22.9157 36.555 22.793 37.4521 22.793C38.654 22.793 39.7288 23.0046 40.6768 23.4277C41.6247 23.8509 42.3695 24.4476 42.9111 25.2178C43.4528 25.988 43.7236 26.8936 43.7236 27.9346ZM40.042 27.6934C40.042 27.1263 39.932 26.6396 39.7119 26.2334C39.5003 25.8187 39.1999 25.5013 38.8105 25.2812C38.4212 25.0612 37.9684 24.9512 37.4521 24.9512C36.9359 24.9512 36.4831 25.0612 36.0938 25.2812C35.7044 25.5013 35.3997 25.8187 35.1797 26.2334C34.9681 26.6396 34.8623 27.1263 34.8623 27.6934C34.8623 28.252 34.9681 28.7344 35.1797 29.1406C35.3997 29.5469 35.7044 29.86 36.0938 30.0801C36.4915 30.2917 36.9528 30.3975 37.4775 30.3975C38.0023 30.3975 38.4551 30.2917 38.8359 30.0801C39.2253 29.86 39.5215 29.5469 39.7246 29.1406C39.9362 28.7344 40.042 28.252 40.042 27.6934ZM43.3301 19.416C43.3301 20.3555 43.0804 21.1891 42.5811 21.917C42.0817 22.6364 41.3877 23.1992 40.499 23.6055C39.6188 24.0117 38.6117 24.2148 37.4775 24.2148C36.335 24.2148 35.3193 24.0117 34.4307 23.6055C33.542 23.1992 32.848 22.6364 32.3486 21.917C31.8493 21.1891 31.5996 20.3555 31.5996 19.416C31.5996 18.2988 31.8493 17.3594 32.3486 16.5977C32.8564 15.8275 33.5505 15.2435 34.4307 14.8457C35.3193 14.4479 36.3265 14.249 37.4521 14.249C38.5947 14.249 39.6061 14.4479 40.4863 14.8457C41.375 15.2435 42.069 15.8275 42.5684 16.5977C43.0762 17.3594 43.3301 18.2988 43.3301 19.416ZM39.6738 19.5811C39.6738 19.0817 39.585 18.6501 39.4072 18.2861C39.2295 17.9137 38.9756 17.626 38.6455 17.4229C38.3239 17.2197 37.9261 17.1182 37.4521 17.1182C36.9951 17.1182 36.6016 17.2155 36.2715 17.4102C35.9499 17.6048 35.7002 17.8883 35.5225 18.2607C35.3532 18.6247 35.2686 19.0648 35.2686 19.5811C35.2686 20.0804 35.3532 20.5205 35.5225 20.9014C35.7002 21.2738 35.9541 21.5658 36.2842 21.7773C36.6143 21.9889 37.012 22.0947 37.4775 22.0947C37.943 22.0947 38.3366 21.9889 38.6582 21.7773C38.9883 21.5658 39.238 21.2738 39.4072 20.9014C39.585 20.5205 39.6738 20.0804 39.6738 19.5811Z" fill="black"/>
              </svg>            
            </div>
            <h5 class="card-title h5-26"></h5>
            <p class="para-26">80% cars sold within 48 hours</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="design-27">
    <div class="container container-w-27">
      <h2 class="h2-26">3 Simple Step To Sell Your Car</h2>
      <div class="row text-center mt-30">
        <div class="col-sm-4 c-design-27">
          <div>
            <svg width="70" height="70" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M46.5294 0C39.4778 0 32.715 2.80125 27.7287 7.78751C22.7424 12.7738 19.9412 19.5366 19.9412 26.5882C19.9412 33.6399 22.7424 40.4027 27.7287 45.389C32.715 50.3752 39.4778 53.1765 46.5294 53.1765C53.5811 53.1765 60.3439 50.3752 65.3301 45.389C70.3164 40.4027 73.1176 33.6399 73.1176 26.5882C73.1176 19.5366 70.3164 12.7738 65.3301 7.78751C60.3439 2.80125 53.5811 0 46.5294 0ZM26.5882 26.5882C26.5882 21.2995 28.6892 16.2274 32.4289 12.4877C36.1686 8.748 41.2407 6.64706 46.5294 6.64706C51.8181 6.64706 56.8903 8.748 60.63 12.4877C64.3697 16.2274 66.4706 21.2995 66.4706 26.5882C66.4706 31.877 64.3697 36.9491 60.63 40.6888C56.8903 44.4285 51.8181 46.5294 46.5294 46.5294C41.2407 46.5294 36.1686 44.4285 32.4289 40.6888C28.6892 36.9491 26.5882 31.877 26.5882 26.5882ZM13.3539 59.8235C11.6033 59.8165 9.8686 60.1552 8.24916 60.8201C6.62973 61.4849 5.15748 62.463 3.91684 63.698C2.6762 64.9331 1.69158 66.401 1.01944 68.0174C0.347295 69.6338 0.000860874 71.367 0 73.1176C0 84.3578 5.537 92.8328 14.1915 98.3565C22.713 103.787 34.1991 106.353 46.5294 106.353C49.2547 106.353 51.9534 106.227 54.5724 105.974C52.9862 103.999 51.6095 101.865 50.4645 99.6062C49.1749 99.6727 47.8588 99.7059 46.5294 99.7059C34.9968 99.7059 24.8799 97.2864 17.7676 92.7464C10.7882 88.2929 6.64706 81.8253 6.64706 73.1176C6.64706 69.4418 9.62494 66.4706 13.3539 66.4706H50.511C51.7341 64.0909 53.2031 61.8642 54.8848 59.8235H13.3606H13.3539ZM83.0882 113C91.0213 113 98.6295 109.849 104.239 104.239C109.849 98.6295 113 91.0213 113 83.0882C113 75.1551 109.849 67.547 104.239 61.9374C98.6295 56.3279 91.0213 53.1765 83.0882 53.1765C75.1551 53.1765 67.547 56.3279 61.9374 61.9374C56.3279 67.547 53.1765 75.1551 53.1765 83.0882C53.1765 91.0213 56.3279 98.6295 61.9374 104.239C67.547 109.849 75.1551 113 83.0882 113ZM83.0882 66.4706C83.9697 66.4706 84.815 66.8207 85.4383 67.444C86.0616 68.0673 86.4118 68.9127 86.4118 69.7941V79.7647H96.3824C97.2638 79.7647 98.1092 80.1149 98.7324 80.7381C99.3557 81.3614 99.7059 82.2068 99.7059 83.0882C99.7059 83.9697 99.3557 84.815 98.7324 85.4383C98.1092 86.0616 97.2638 86.4118 96.3824 86.4118H86.4118V96.3824C86.4118 97.2638 86.0616 98.1092 85.4383 98.7324C84.815 99.3557 83.9697 99.7059 83.0882 99.7059C82.2068 99.7059 81.3614 99.3557 80.7381 98.7324C80.1149 98.1092 79.7647 97.2638 79.7647 96.3824V86.4118H69.7941C68.9127 86.4118 68.0673 86.0616 67.444 85.4383C66.8207 84.815 66.4706 83.9697 66.4706 83.0882C66.4706 82.2068 66.8207 81.3614 67.444 80.7381C68.0673 80.1149 68.9127 79.7647 69.7941 79.7647H79.7647V69.7941C79.7647 68.9127 80.1149 68.0673 80.7381 67.444C81.3614 66.8207 82.2068 66.4706 83.0882 66.4706Z" fill="#233D7A"/>
            <path d="M83 98C83.85 98 84.563 97.712 85.139 97.136C85.713 96.562 86 95.85 86 95V86H95.075C95.925 86 96.625 85.712 97.175 85.136C97.725 84.562 98 83.85 98 83C98 82.15 97.712 81.437 97.136 80.861C96.562 80.287 95.85 80 95 80H86V70.925C86 70.075 85.713 69.375 85.139 68.825C84.563 68.275 83.85 68 83 68C82.15 68 81.438 68.287 80.864 68.861C80.288 69.437 80 70.15 80 71V80H70.925C70.075 80 69.375 80.287 68.825 80.861C68.275 81.437 68 82.15 68 83C68 83.85 68.287 84.562 68.861 85.136C69.437 85.712 70.15 86 71 86H80V95.075C80 95.925 80.288 96.625 80.864 97.175C81.438 97.725 82.15 98 83 98ZM83 113C78.85 113 74.95 112.212 71.3 110.636C67.65 109.062 64.475 106.925 61.775 104.225C59.075 101.525 56.938 98.35 55.364 94.7C53.788 91.05 53 87.15 53 83C53 78.85 53.788 74.95 55.364 71.3C56.938 67.65 59.075 64.475 61.775 61.775C64.475 59.075 67.65 56.937 71.3 55.361C74.95 53.787 78.85 53 83 53C87.15 53 91.05 53.787 94.7 55.361C98.35 56.937 101.525 59.075 104.225 61.775C106.925 64.475 109.062 67.65 110.636 71.3C112.212 74.95 113 78.85 113 83C113 87.15 112.212 91.05 110.636 94.7C109.062 98.35 106.925 101.525 104.225 104.225C101.525 106.925 98.35 109.062 94.7 110.636C91.05 112.212 87.15 113 83 113Z" fill="#B83339"/>
            </svg>          
          </div>
          <h3 class="h3-design-27">Sign Up</h3>
          <p>Register Yourself on Pakwheel.com to post an ad.</p>
        </div>
        <div class="col-sm-4 c-design-27">
          <div>
            <svg width="70" height="70" viewBox="0 0 102 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M72.4737 53.8095C80.3046 53.8095 87.8147 56.9276 93.3519 62.4778C98.8892 68.0279 102 75.5556 102 83.4048C102 91.2539 98.8892 98.7816 93.3519 104.332C87.8147 109.882 80.3046 113 72.4737 113C64.6428 113 57.1327 109.882 51.5954 104.332C46.0582 98.7816 42.9474 91.2539 42.9474 83.4048C42.9474 75.5556 46.0582 68.0279 51.5954 62.4778C57.1327 56.9276 64.6428 53.8095 72.4737 53.8095ZM52.3421 0C55.5456 0 58.618 1.27557 60.8832 3.5461C63.1485 5.81663 64.4211 8.89613 64.4211 12.1071V49.3649C61.623 50.027 58.918 51.0356 56.3684 52.3674V12.1071C56.3684 11.0368 55.9442 10.0103 55.1891 9.25346C54.4341 8.49662 53.41 8.07143 52.3421 8.07143H12.0789C11.0111 8.07143 9.98699 8.49662 9.23191 9.25346C8.47683 10.0103 8.05263 11.0368 8.05263 12.1071V95.5119C8.05263 97.7396 9.85642 99.5476 12.0789 99.5476L41.514 99.553C43.0492 102.505 44.996 105.223 47.2958 107.624L12.0789 107.619C8.87541 107.619 5.80308 106.343 3.53784 104.073C1.2726 101.802 0 98.7229 0 95.5119V12.1071C0 8.89613 1.2726 5.81663 3.53784 3.5461C5.80308 1.27557 8.87541 0 12.0789 0H52.3421ZM72.4737 64.5714L71.9905 64.6091C71.4542 64.7073 70.9604 64.9669 70.5749 65.3533C70.1894 65.7397 69.9304 66.2347 69.8324 66.7722L69.7895 67.2619V80.7143H56.3577L55.8745 80.7573C55.3382 80.8555 54.8444 81.1151 54.4589 81.5015C54.0734 81.888 53.8144 82.3829 53.7164 82.9205L53.6735 83.4048L53.7164 83.889C53.8144 84.4266 54.0734 84.9216 54.4589 85.308C54.8444 85.6944 55.3382 85.954 55.8745 86.0522L56.3577 86.0952H69.7895V99.5638L69.8324 100.048C69.9304 100.586 70.1894 101.081 70.5749 101.467C70.9604 101.853 71.4542 102.113 71.9905 102.211L72.4737 102.254L72.9568 102.211C73.4932 102.113 73.9869 101.853 74.3725 101.467C74.758 101.081 75.017 100.586 75.115 100.048L75.1579 99.5638V86.0952L88.6004 86.1006L89.0836 86.0576C89.6199 85.9594 90.1137 85.6998 90.4992 85.3134C90.8847 84.9269 91.1437 84.432 91.2417 83.8944L91.2846 83.4101L91.2417 82.9258C91.1434 82.3875 90.8836 81.8921 90.497 81.5056C90.1105 81.1191 89.6155 80.8599 89.0782 80.7627L88.5951 80.7197H75.1579V67.2673L75.115 66.783C75.018 66.2444 74.7594 65.7483 74.3738 65.3609C73.9882 64.9734 73.4939 64.713 72.9568 64.6145L72.4737 64.5714ZM25.4946 83.4263L37.5789 83.3994C37.5789 86.1813 37.9011 88.888 38.5131 91.4708L25.5054 91.4977C24.4375 91.4991 23.4128 91.0753 22.6568 90.3195C21.9007 89.5637 21.4751 88.5377 21.4737 87.4674C21.4723 86.397 21.8951 85.37 22.6492 84.6121C23.4032 83.8543 24.4268 83.4277 25.4946 83.4263Z" fill="#233D7A"/>
            <path d="M72 98C72.85 98 73.563 97.712 74.139 97.136C74.713 96.562 75 95.85 75 95V86H84.075C84.925 86 85.625 85.712 86.175 85.136C86.725 84.562 87 83.85 87 83C87 82.15 86.712 81.437 86.136 80.861C85.562 80.287 84.85 80 84 80H75V70.925C75 70.075 74.713 69.375 74.139 68.825C73.563 68.275 72.85 68 72 68C71.15 68 70.438 68.287 69.864 68.861C69.288 69.437 69 70.15 69 71V80H59.925C59.075 80 58.375 80.287 57.825 80.861C57.275 81.437 57 82.15 57 83C57 83.85 57.287 84.562 57.861 85.136C58.437 85.712 59.15 86 60 86H69V95.075C69 95.925 69.288 96.625 69.864 97.175C70.438 97.725 71.15 98 72 98ZM72 113C67.85 113 63.95 112.212 60.3 110.636C56.65 109.062 53.475 106.925 50.775 104.225C48.075 101.525 45.938 98.35 44.364 94.7C42.788 91.05 42 87.15 42 83C42 78.85 42.788 74.95 44.364 71.3C45.938 67.65 48.075 64.475 50.775 61.775C53.475 59.075 56.65 56.937 60.3 55.361C63.95 53.787 67.85 53 72 53C76.15 53 80.05 53.787 83.7 55.361C87.35 56.937 90.525 59.075 93.225 61.775C95.925 64.475 98.062 67.65 99.636 71.3C101.212 74.95 102 78.85 102 83C102 87.15 101.212 91.05 99.636 94.7C98.062 98.35 95.925 101.525 93.225 104.225C90.525 106.925 87.35 109.062 83.7 110.636C80.05 112.212 76.15 113 72 113Z" fill="#B83339"/>
            </svg>          
          </div>
          <h3 class="h3-design-27">Create your ad</h3>
          <p>Provide necessary details about your used car and make sure to upload clear photos.</p>
        </div>
        <div class="col-sm-4 c-design-27">
          <div>
            <svg width="70" height="70" viewBox="0 0 152 111" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M98.5529 6.63355L98.5553 6.64053L111.5 43.9187V93.75C111.5 96.6352 109.135 99 106.25 99H100C97.1148 99 94.75 96.6352 94.75 93.75V87.5V86.5H93.75H18.75H17.75V87.5V93.75C17.75 96.6352 15.3852 99 12.5 99H6.25C3.36478 99 1 96.6352 1 93.75V43.9187L13.9421 6.64783C13.9425 6.64664 13.943 6.64544 13.9434 6.64425C15.1224 3.33626 18.1961 1 21.875 1H90.625C94.3157 1 97.4387 3.34647 98.5529 6.63355ZM24.0625 11.5H23.3512L23.1178 12.172L16.3678 31.6094L15.9067 32.9375H17.3125H95.125H96.5308L96.0697 31.6094L89.3197 12.172L89.0863 11.5H88.375H24.0625ZM100 76H101V75V43.75V42.75H100H12.5H11.5V43.75V75V76H12.5H100Z" fill="#233D7A" stroke="#F3F3F3" stroke-width="2"/>
            <path d="M36.5 59.375C36.5 64.0004 32.7504 67.75 28.125 67.75C23.4996 67.75 19.75 64.0004 19.75 59.375C19.75 54.7496 23.4996 51 28.125 51C32.7504 51 36.5 54.7496 36.5 59.375Z" fill="#233D7A" stroke="#F3F3F3" stroke-width="2"/>
            <path d="M92.75 59.375C92.75 64.0004 89.0004 67.75 84.375 67.75C79.7496 67.75 76 64.0004 76 59.375C76 54.7496 79.7496 51 84.375 51C89.0004 51 92.75 54.7496 92.75 59.375Z" fill="#233D7A" stroke="#F3F3F3" stroke-width="2"/>
            <rect x="84.5" y="43.5" width="65" height="65" rx="32.5" fill="#B83339" stroke="#F3F3F3" stroke-width="5"/>
            <mask id="mask0_1414_25131" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="99" y="62" width="32" height="30">
            <path d="M129.33 74.6507C129.528 73.3234 129.462 71.9702 129.135 70.6687C128.69 68.8901 127.768 67.2665 126.47 65.9718C125.175 64.6732 123.552 63.7516 121.773 63.3057C120.471 62.9797 119.118 62.9136 117.791 63.1114M123.406 74.0232C123.516 73.2987 123.453 72.5589 123.223 71.8631C122.994 71.1674 122.604 70.5353 122.086 70.0178C121.568 69.4994 120.936 69.1099 120.24 68.8807C119.545 68.6515 118.805 68.5889 118.081 68.698" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M107.942 65.4314C108.221 65.4315 108.494 65.5062 108.734 65.6475C108.974 65.7889 109.171 65.9918 109.306 66.2353L111.216 69.674C111.339 69.8959 111.407 70.1446 111.412 70.3983C111.418 70.6521 111.361 70.9034 111.247 71.1304L109.408 74.8087C109.408 74.8087 109.941 77.5497 112.172 79.7803C114.403 82.0109 117.135 82.5354 117.135 82.5354L120.812 80.6958C121.039 80.5822 121.291 80.5257 121.545 80.5313C121.799 80.5369 122.047 80.6043 122.269 80.7278L125.719 82.6454C125.962 82.7808 126.164 82.9786 126.305 83.2185C126.446 83.4583 126.521 83.7315 126.52 84.0097V87.9698C126.52 89.9858 124.647 91.4429 122.737 90.7974C118.813 89.4738 112.722 86.9521 108.86 83.0919C105 79.2309 102.479 73.1393 101.154 69.2151C100.51 67.3045 101.966 65.4314 103.983 65.4314H107.942Z" fill="white" stroke="white" stroke-width="2" stroke-linejoin="round"/>
            </mask>
            <g mask="url(#mask0_1414_25131)">
            <path d="M96.7222 58.5654H134.185V96.028H96.7222V58.5654Z" fill="white"/>
            </g>
            </svg>          
          </div>
          <h3 class="h3-design-27">Get instant Offers</h3>
          <p>Relax & get ready for instant offers from genuine buyers.</p>
        </div>
      <div>
    <div>
  </section>
  <section class="design-28">
    <div class="container container-width-28">
      <h2 class="h2-26">3 Simple Step To Sell Your Car</h2>
      <div class="row text-center">
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_7280_17581" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
            <rect width="48" height="48" rx="4" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_7280_17581)">
            <mask id="mask1_7280_17581" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="2" width="44" height="44">
            <rect x="2" y="2" width="43.9913" height="44" rx="4" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask1_7280_17581)">
            <path d="M7.99235 42.3351C7.01477 42.3351 6.17819 41.9883 5.48263 41.2948C4.78588 40.6001 4.4375 39.7653 4.4375 38.7906V17.524C4.4375 16.5492 4.78588 15.7151 5.48263 15.0216C6.17819 14.3269 7.01477 13.9795 7.99235 13.9795H11.8459C12.9588 13.9795 14.0214 13.5159 14.7783 12.7L15.6924 11.7146C16.4493 10.8987 17.5119 10.4351 18.6249 10.4351H23.9996C25.9572 10.4351 27.5441 12.022 27.5441 13.9795V14.8578C27.5441 16.3303 28.7416 17.524 30.2141 17.524C31.6823 17.524 32.8763 18.7141 32.8763 20.1823C32.8763 21.6504 34.0665 22.8406 35.5347 22.8406H36.4312C38.3945 22.8406 39.986 24.4322 39.986 26.3955V38.7906C39.986 39.7653 39.6383 40.6001 38.9427 41.2948C38.2459 41.9883 37.4088 42.3351 36.4312 42.3351H7.99235ZM22.2118 36.1323C24.4336 36.1323 26.3224 35.3572 27.8782 33.8071C29.4329 32.2559 30.2102 30.3726 30.2102 28.1573C30.2102 25.942 29.4329 24.0587 27.8782 22.5074C26.3224 20.9573 24.4336 20.1823 22.2118 20.1823C19.99 20.1823 18.1012 20.9573 16.5453 22.5074C14.9907 24.0587 14.2133 25.942 14.2133 28.1573C14.2133 30.3726 14.9907 32.2559 16.5453 33.8071C18.1012 35.3572 19.99 36.1323 22.2118 36.1323ZM22.2118 32.5878C20.9676 32.5878 19.9159 32.1596 19.0568 31.303C18.1978 30.4464 17.7682 29.3978 17.7682 28.1573C17.7682 26.9167 18.1978 25.8682 19.0568 25.0116C19.9159 24.155 20.9676 23.7267 22.2118 23.7267C23.456 23.7267 24.5076 24.155 25.3667 25.0116C26.2258 25.8682 26.6553 26.9167 26.6553 28.1573C26.6553 29.3978 26.2258 30.4464 25.3667 31.303C24.5076 32.1596 23.456 32.5878 22.2118 32.5878ZM38.2086 17.524C37.2298 17.524 36.4312 16.7305 36.4312 15.7517C36.4312 14.773 35.6325 13.9795 34.6538 13.9795C33.675 13.9795 32.8763 13.1861 32.8763 12.2073C32.8763 11.2285 33.675 10.4351 34.6538 10.4351C35.6325 10.4351 36.4312 9.64162 36.4312 8.66285C36.4312 7.68408 37.2298 6.89062 38.2086 6.89062C39.1874 6.89062 39.986 7.68408 39.986 8.66285C39.986 9.64162 40.7847 10.4351 41.7635 10.4351C42.7422 10.4351 43.5409 11.2285 43.5409 12.2073C43.5409 13.1861 42.7422 13.9795 41.7635 13.9795C40.7847 13.9795 39.986 14.773 39.986 15.7517C39.986 16.7305 39.1874 17.524 38.2086 17.524Z" fill="#233D7A"/>
            </g>
            <ellipse cx="36.229" cy="14.2231" rx="9.77585" ry="9.77778" fill="white"/>
            <line x1="35.2812" y1="9.33594" x2="35.2812" y2="20.3359" stroke="#FF5A5F" stroke-width="3"/>
            <line x1="30.125" y1="15.1641" x2="41.1228" y2="15.1641" stroke="#FF5A5F" stroke-width="3"/>
            </g>
            </svg>                  
          </div>
          <h3 class="fsize-28 nomargin text-dark">Upload Good Quality Photos</h3>
          <p class="design-card-paras">Take photos in landscape
            <a  class="a-card" href=" "></a> 
            mode. Ads with multiple good quality images have 90% more views and are likely to be sold faster.
          </p>
        </div>
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.5636 15.3393C32.1545 14.1325 31.0091 13.2734 29.6591 13.2734H7.15909C5.80909 13.2734 4.68409 14.1325 4.25455 15.3393L0 27.5916V43.9553C0 45.0803 0.920455 46.0007 2.04545 46.0007H4.09091C5.21591 46.0007 6.13636 45.0803 6.13636 43.9553V41.9098H30.6818V43.9553C30.6818 45.0803 31.6023 46.0007 32.7273 46.0007H34.7727C35.8977 46.0007 36.8182 45.0803 36.8182 43.9553V27.5916L32.5636 15.3393ZM7.15909 35.7734C5.46136 35.7734 4.09091 34.403 4.09091 32.7053C4.09091 31.0075 5.46136 29.6371 7.15909 29.6371C8.85682 29.6371 10.2273 31.0075 10.2273 32.7053C10.2273 34.403 8.85682 35.7734 7.15909 35.7734ZM29.6591 35.7734C27.9614 35.7734 26.5909 34.403 26.5909 32.7053C26.5909 31.0075 27.9614 29.6371 29.6591 29.6371C31.3568 29.6371 32.7273 31.0075 32.7273 32.7053C32.7273 34.403 31.3568 35.7734 29.6591 35.7734ZM4.09091 25.5462L7.15909 16.3416H29.6591L32.7273 25.5462H4.09091Z" fill="#233D7A"/>
            <path d="M32.7273 26.0455C39.7815 26.0455 45.5 20.3269 45.5 13.2727C45.5 6.21854 39.7815 0.5 32.7273 0.5C25.6731 0.5 19.9546 6.21854 19.9546 13.2727C19.9546 20.3269 25.6731 26.0455 32.7273 26.0455Z" fill="#233D7A" stroke="white"/>
            <path d="M38.7783 12.339L36.1352 15.0577L36.7225 18.8638C36.7225 19.0191 36.6491 19.2521 36.5023 19.3298C36.4289 19.4075 36.3555 19.4075 36.2086 19.4075C36.1352 19.4075 36.0618 19.4075 35.9884 19.3298L32.758 17.5433L29.5276 19.3298C29.3807 19.4075 29.1605 19.4075 29.0136 19.2521C28.8668 19.1745 28.7934 18.9414 28.7934 18.7861L29.3807 14.98L26.7377 12.2613C26.5908 12.106 26.5908 11.9506 26.5908 11.7176C26.6642 11.5623 26.8111 11.4069 26.9579 11.4069L30.5554 10.8632L32.1706 7.36779C32.3174 7.05709 32.9048 7.05709 33.0516 7.36779L34.6668 10.8632L38.2643 11.4069C38.6279 11.4069 39.0467 12.055 38.7783 12.339Z" fill="white"/>
            </svg>                            
          </div>
          <h3 class="fsize-28 nomargin text-dark">Feature Your Ad</h3>
          <p class="design-card-paras">Feature your ad 
            <a  class="a-card" href=" "></a>
            to bring it to the top. Ads with a featured tag get sold 10 times faster.
          </p>
        </div>
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <svg width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 43C0.895431 43 1.06779e-08 42.1046 2.38498e-08 41L4.03458e-07 9.16667C4.1663e-07 8.0621 0.895431 7.16667 2 7.16667L25.3383 7.16667C25.9716 7.16667 26.5675 7.46665 26.9448 7.97537L31.8565 14.599C32.112 14.9436 32.25 15.3612 32.25 15.7903L32.25 41C32.25 42.1046 31.3546 43 30.25 43L2 43Z" fill="#233D7A"/>
            <path d="M7.16675 17.9167C7.16675 16.9272 7.9689 16.125 8.95841 16.125C9.94793 16.125 10.7501 16.9272 10.7501 17.9167C10.7501 18.9062 9.94793 19.7083 8.95841 19.7083C7.9689 19.7083 7.16675 18.9062 7.16675 17.9167Z" fill="white"/>
            <path d="M12.5417 17.125C12.5417 16.5727 12.9895 16.125 13.5417 16.125H24.0834C24.6357 16.125 25.0834 16.5727 25.0834 17.125V18.7083C25.0834 19.2606 24.6357 19.7083 24.0834 19.7083H13.5417C12.9895 19.7083 12.5417 19.2606 12.5417 18.7083V17.125Z" fill="white"/>
            <circle cx="27.7709" cy="9.85417" r="9.85417" fill="white"/>
            <path d="M27.927 17.5173L21.7406 10.7308L24.0911 8.50524L28.0974 12.8831L39.0831 2.48115L41.2632 4.88974L27.927 17.5173Z" fill="#233D7A"/>
            <path d="M7.16675 25.0827C7.16675 24.0932 7.9689 23.291 8.95841 23.291C9.94793 23.291 10.7501 24.0932 10.7501 25.0827C10.7501 26.0722 9.94793 26.8743 8.95841 26.8743C7.9689 26.8743 7.16675 26.0722 7.16675 25.0827Z" fill="white"/>
            <path d="M12.5417 24.291C12.5417 23.7387 12.9895 23.291 13.5417 23.291H24.0834C24.6357 23.291 25.0834 23.7387 25.0834 24.291V25.8743C25.0834 26.4266 24.6357 26.8743 24.0834 26.8743H13.5417C12.9895 26.8743 12.5417 26.4266 12.5417 25.8743V24.291Z" fill="white"/>
            <path d="M7.16675 32.2507C7.16675 31.2611 7.9689 30.459 8.95841 30.459C9.94792 30.459 10.7501 31.2611 10.7501 32.2507C10.7501 33.2402 9.94792 34.0423 8.95841 34.0423C7.9689 34.0423 7.16675 33.2402 7.16675 32.2507Z" fill="white"/>
            <path d="M12.5417 31.459C12.5417 30.9067 12.9895 30.459 13.5417 30.459H24.0834C24.6357 30.459 25.0834 30.9067 25.0834 31.459V33.0423C25.0834 33.5946 24.6357 34.0423 24.0834 34.0423H13.5417C12.9895 34.0423 12.5417 33.5946 12.5417 33.0423V31.459Z" fill="white"/>
            </svg>             
          </div>
          <h3 class="fsize-28 nomargin text-dark">Attach Auction Sheet</h3>
          <p class="design-card-paras">
            For imported Japanese cars, attaching"
            <a  class="a-card" href=" ">PakWheels Verified Auction Sheet</a>
            saves you time from needless calls of buyers inquiring about your car’s history.
          </p>
        </div>
        <div class="testimonials-col col-sm-3 text-center">
          <div class="typeof-insurance-img" style="justify-content: center">
            <svg width="57" height="49" viewBox="0 0 57 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.8842 2.14625C33.4592 0.892501 32.2692 0 30.8667 0H7.4917C6.0892 0 4.92045 0.892501 4.4742 2.14625L0.0541992 14.875V31.875C0.0541992 33.0438 1.01045 34 2.1792 34H4.3042C5.47295 34 6.4292 33.0438 6.4292 31.875V29.75H31.9292V31.875C31.9292 33.0438 32.8854 34 34.0542 34H36.1792C37.3479 34 38.3042 33.0438 38.3042 31.875V14.875L33.8842 2.14625ZM7.4917 23.375C5.72795 23.375 4.3042 21.9513 4.3042 20.1875C4.3042 18.4237 5.72795 17 7.4917 17C9.25545 17 10.6792 18.4237 10.6792 20.1875C10.6792 21.9513 9.25545 23.375 7.4917 23.375ZM30.8667 23.375C29.1029 23.375 27.6792 21.9513 27.6792 20.1875C27.6792 18.4237 29.1029 17 30.8667 17C32.6304 17 34.0542 18.4237 34.0542 20.1875C34.0542 21.9513 32.6304 23.375 30.8667 23.375ZM4.3042 12.75L7.4917 3.1875H30.8667L34.0542 12.75H4.3042Z" fill="#233D7A"/>
            <path d="M47.076 35.3826L46.9493 35.5579L47.1046 35.7085L55.9194 44.2542L55.9194 44.2543L55.9238 44.2583C55.9573 44.2893 55.9878 44.3192 56.0194 44.3521L56.02 44.3527C57.0295 45.3955 56.9871 47.0417 55.9232 48.0314L55.9231 48.0315C54.8561 49.0252 53.1681 48.9829 52.1551 47.9375L52.1551 47.9374L52.1497 47.9321L43.1725 39.2137L43.0368 39.0819L42.8731 39.1767C38.2338 41.8624 32.4181 41.6272 28.0202 38.5749L28.0202 38.5749C21.8592 34.2996 20.4038 25.9432 24.7626 19.9081L24.7626 19.9081C29.1236 13.869 37.6566 12.4376 43.8195 16.7148C49.9793 20.9901 51.4358 29.3475 47.076 35.3826ZM26.6809 27.6657V27.6658C26.6842 32.6682 30.82 36.7122 35.9108 36.7112C35.9108 36.7112 35.9108 36.7112 35.9108 36.7112H35.9172H35.9176C41.0104 36.7026 45.1409 32.649 45.1322 27.6455V27.6454C45.1223 22.6494 40.9887 18.6117 35.9043 18.6139C30.8125 18.616 26.6798 22.6633 26.6809 27.6657Z" fill="#233D7A" stroke="white" stroke-width="0.5"/>
            </svg>                         
          </div>
          <h3 class="fsize-28 nomargin text-dark">Attach Inspection Report</h3>
          <div>
            <p class="design-card-paras">
              Trust is built on credibility. Make your ad more credible with 
              <a class="a-card" href=" ">PakWheels Inspection Report</a>
              to avail the best possible price for your car.
            </p>
          </div>
        </div>
      </div>
      <p class="design-25-lst-para"> Note: In case you are short on time to follow these tips yourself, then
        <a href=" ">PakWheels Sell It For Me</a> 
        "service is the right choice for you. Our trained sales team takes full responsibility, from posting your ad to ensuring that you get the best offer."
      </p>
    </div>
  </section>
</div>