@import "bootstrap/scss/bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-group .form-line {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #ddd;
}
.modal-title{
  padding-left: 3rem;
font-size: 2rem;
}
.form-control{
  padding-left: 0;
}
.card{
  border-radius: 5px;
  background: #fff;
  min-height: 70px;
}
.signup-form{
  width: 700px;
  margin: 0 auto;
  padding: 30px 0;
}
.btn{
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  min-width: 400px;
} 
.para{
  text-align: center;
  font-family: 'Your Custom Font', sans-serif;
}
.label-name{
  font-family: 'Your Custom Font', sans-serif;
}
.modal-head{
  font-size: 2rem;
  margin-top: 2rem;
}
/* Custom CSS to center-align the form within the modal */
.center-form {
  display: inline-block;
  text-align: left;
}
.modal-body {
  margin-left: 1.5rem;
}
.caret {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 20px solid;
  transform: rotate(-90deg);
}
#signin-link {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}
