.custom-gutter-x {
  margin-right: 0.75rem;
  margin-left: -0.75rem;
}
body {
  background-color: #f2f3f3;
}
.show-label{
  font-family: sans-serif;
  margin-bottom: 5px;
}
.mb-20{
  margin-bottom: 20px;
}
.custom-form-class{
  padding: 20px;
  background-color: #fff;
}
.editpassword-page{
  padding: 20px;
}
.editpassword-h1{
  margin-left: 30px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
  color: #233d7b;
  line-height: 28px;
}
.editpassword-container .form-control{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 4px;
  height: 54px;
  padding: 6px 18px;
  font-size: 14px;
  vertical-align: middle;
  margin: 0px 0px 40px;
}
#password_confirmation {
  margin-bottom: 0;
}
.password-button .btn{
  font-size: 23px;
  font-family: sans-serif;
  min-width: 20px;
  padding: 6px 12px;
  border-color: #1d331d;
  background-color:#233d7b;
}
.btn-save{
  border-top: 0;
}
.alert-edit{
  width: 90%;
  margin-left: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.password-match-error.error-div{
  font-family: sans-serif;
  color: red;
  margin-left: 10px;
  display: none;
}
input.is-valid {
  background-color:#DFF0D8 !important;
  color: green !important;
}
input.is-invalid {
  background-color: #F2DEDE !important;
  color: red !important;
}
