.mini-nav .dropdown-menu {
  position: absolute;
  font-family: sans-serif;
}
.message-icon{
  margin-left: 0.5rem;
}
.background-image{
  background: url('MainBanner-6cb14f420e9f3a3edb1d851877883e20.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: center;
  height: 510px;
}
.alert{
  --bs-alert-margin-bottom: -3.2rem;
}
.header .navbar{
  top: 0;
  font-size: 14px;
  border-color: #302f2e;
  border-bottom: 1px solid #e6e6e6;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}  
.container-fluid{
  padding: 0;
}
.header .navbar-nav .nav-link{
  line-height: 24px;
  padding: 0 5px;
  list-style: none;
  color: #fff;
  font-family: sans-serif;
}
.main-nav .navbar{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.main-nav .navbar-nav .nav-link{
  padding: 0px 22px;
  line-height: 55px;
  height: 55px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
}
.main-nav .nav-link.nav-post{
  background-color: #b73439 !important;
  color: #fff !important;
  margin-top: 7px;
  line-height: 40px;
  height: 40px;
  border-radius: 4px;
  font-weight: 700;
  width: 142px;
}
.message-icon a {
  text-decoration: none; 
  color: #fff;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-nav .nav-item.dropdown .dropdown-menu {
  display: none;
}
.navbar-nav .nav-item.dropdown:hover a.nav-link {
  background-color: #fff;
}
.navbar-nav .nav-item.dropdown:hover a.nav-link {
  color: red;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu{
  background-color: #fff;
}
.main-nav .dropdown-menu.post-buttton .dropdown-item{
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 2px;
}
.main-nav .nav-item.dropdown .dropdown-menu.post-buttton{
  top: 51px;
  box-shadow: 0 2px 5px;
  border-radius: 0%;
  border-bottom: 4px solid #b73439;
  min-width: 146px;
}
.right-margin-nav{
  margin-right: 0px;
}
.navbar-image{
  height: 50px;
  width: 175px;
}
@media (min-width: 992px) and (max-width: 1024px){
  .navbar-image{
    height: 40px;
    width: 90px;
  }
  .main-nav .navbar {
    width: auto;
  }
  body{
    font-size: x-small;
  }
  .main-nav .nav-link.nav-post{
    width: min-content;
  }
  .container-fluid{
    margin-left: 60px;
  }
}
@media (min-width: 1025px) and (max-width: 1064px){
  .navbar-image{
    height: 40px;
    width: 90px;
  }
  .main-nav .navbar {
    width: auto;
  }
  body{
    font-size: 12px;
  }
  .main-nav .nav-link.nav-post{
    width: min-content;
  }
  .container-fluid{
    margin-left: 70px;
  }
  .nav-item{
    margin-left: -10px;
  }
}
@media (min-width: 1065px) and (max-width: 1092px){
  .navbar-image{
    height: 40px;
    width: 110px;
  }
  .main-nav .navbar {
    width: auto;
  }
  body{
    font-size: 12px;
  }
  .main-nav .nav-link.nav-post{
    width: min-content;
  }
  .container-fluid{
    margin-left: 70px;
  }
}
@media (min-width: 1093px) and (max-width: 1136px){
  .navbar-image{
    height: 40px;
    width: 120px;
  }
  .main-nav .navbar {
    width: auto;
  }
  body{
    font-size: 13px;
  }
  .main-nav .nav-link.nav-post{
    width: min-content;
  }
  .container-fluid{
    margin-left: 70px;
  }
}
@media (min-width: 1137px) and (max-width: 1260px){
  .navbar-image{
    height: 40px;
    width: 145px;
  }
  .main-nav .navbar {
    width: auto;
  }
  body{
    font-size: 13px;
  }
  .main-nav .nav-link.nav-post{
    width: min-content;
  }
  .container-fluid{
    margin-left: 55px;
  }
}
@media (min-width: 310px) and (max-width: 430px){
  .navbar-image{
    height: 40px;
    width: 100px;
  }
  .container-fluid{
    margin-left: 15px;
  }
  .navbar-toggler{
    margin-right: 18px;
    background: beige;
  }
}
@media (min-width: 431px) and (max-width: 991px){
  .navbar-image{
    height: 40px;
    width: 140px;
  }
  .container-fluid{
    margin-left: 35px;
  }
  .navbar-toggler{
    margin-right: 38px;
    background: beige;
  }
}
