.steps-section1{
  font-family: sans-serif;
  background-color: #fff;
  padding: 30px !important;
}
.section1-h1{
  font-size: 30px;
  font-weight: 700;
  color: #233d7b;
}
.section1-images{
  text-align: center;
}
.ad1-image{
  height: 60px;
  margin-right: 5px;
  margin-left: 20px;
}
.info-section2 .container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 29px;
  background-color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.image1-bulb1{
  margin-top: 5px;
  height: 40px;
}
.section2bulb-image{
  float: left;
  padding-right: 22px;
  height: 34px;
}
.ad-input .form-control{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 4px;
  height: 48px;
  padding: 6px 18px;
  font-size: 14px;
  vertical-align: middle;
  width: 400px;
  max-width: 100%;
  margin-bottom: 17px;
}
.ad-input2 .form-control{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 4px;
  height: 48px;
  padding: 6px 18px;
  font-size: 14px;
  vertical-align: middle;
  width: 353px;
  max-width: 100%;
  margin-bottom: 17px;
}
.section2-para1{
  padding: 5px 7px 0px;
  border-width: 0px 1px 1px;
  border: 1px solid #EAEDEF;
}
#suggestion {
  overflow: hidden;
  height: 88px;
}
#toggleButton {
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 12px -7px 0px;
  border-top: 1px solid #EAEDEF;
  padding: 12px 18px;
}
.k-m{
  display: inline-block;
  max-width: 89%;
}
.km-span{
  display: inline-block;
  background-color: lightgray;
  padding: 10px 12px;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 2px;
  vertical-align: middle;
  margin-bottom: 15px;
}
.design-span{
  display: inline-block;
  background-color: #fff;
  color: #518ecb;
  border: 2px solid #518ecb;
  cursor: pointer;
  font-size: 14px;
  line-height: 30px;
  padding: 0px 16px;
  margin: 5px 3px;
  border-radius: 20px;
}
.photo-section3 .container{
  border-top: 5px solid #ececec;
  background-color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
}
.main-div-section3{
  padding: 30px;
}
.section3-image{
  margin-right: 2rem;
  height: 80px;
}
.section3-btn1{
  padding: 7px 28px;
  background-color: #3eb549;
  border-color: #37a241;
  border: 1px solid transparent;
  border-radius: 2px;
  margin-bottom: 0;
}
.section3-image1-button1{
  position: relative;
  display: flex;
  justify-content: center;
}
.section3-para1{
  margin-top: 5px;
  font-size: 13px;
}
.upload-image-hint{
  border:2px dashed #518ecb ;
  padding: 30px 25px;
}
.photo-info{
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}
.photo-section3 .col-md-offset-1{
  margin-left: 8.333%;
}
.car-info-section4 .container{
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.contact-info{
  font-size: 1.4rem;
  color: #434343;
}
.custom-image {
  max-width: 100%;
  height: 50px;
}
.hint-icon{
  font-size: 40px;
  margin-left: -54px;
  margin-right: 22px;
  
  color:#233d7b ;
}
.mobile-para{
  color: #434343;
  padding-left: 54px;
  margin-top: 5px;
  height: 40px;
}
.icon-section4{
  width: 44px;
  height: 47px;
  display: inline-block;
  background-color: lightgray;
  padding:  13px 2px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -9px;
}
.section4-div1{
  font-family: sans-serif;
  padding: 30px;
}
.field-section4{
  max-width: 100%;
  width: 353px;
  border: 1px solid #e6e6e6;
  height: 48px;
  border-radius: 0;
  border-top-right-radius: 4px ;
  border-bottom-right-radius: 4px;
  padding: 6px 18px;
  font-size: 14px;
  vertical-align: middle;
}
.field2-section4{
  max-width: 100%;
  width: 398px;
  border: 1px solid #e6e6e6;
  height: 48px;
  border-radius: 0;
  border-top-right-radius: 4px ;
  border-bottom-right-radius: 4px;
  padding: 6px 18px;
  font-size: 14px;
  vertical-align: middle;
}
.whatsapp4-icon{
  font-size: 16px;
}
.section4-mob-parent{
  position: relative;
}
.section4-mob-para{
  position: absolute;
}
.section4-whatsappimage{
  height: 60px;
}
.section5 .container{
  margin-bottom: 3rem;
}
.section5-last-button{
  font-family: sans-serif;
  color: #fff;
  border-color: #37a241;
  background-color: #3eb549;
  border-radius: 5px;
}
.para5-text{
  color: rgb(77, 153, 178);
  font-size: 12px;
}
.display-none{
  display: none;
}
.star-color{
  color: red;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.color-preview {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  top: 50%;
  right: 10px;
  margin-right: 22px;
  transform: translateY(-129%);
}