*{
  box-sizing: border-box;
}
div{
  display: block;
}
body{
  font-family: "Lato",Sans-Serif;
  font-size: 14px;
  line-height: 1.4287;
  color: #434343;
  background-color: #fff;
  font-weight: 400;
}
.main-container{
  margin-left: 10%;
  margin-right: 10%;
}
.h1-class{
  color: #233d7b;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 5px;
}
.container{
  margin-top: 4%;
  padding-left: 10px;
  padding-right: 10px;
}
.form-container{
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  padding-left: 4%;
  padding-top: 3%;
  margin-bottom: 5%;
}
.container-2{
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  
}
.unorder-list .list-item{
  list-style: none;
  display: block;
  margin-bottom: 5%;
  text-align: start;
  margin-left: 5%;
  margin-right: 15%;
}
.eight-columns{
  font-size: 16px;
}
.tex-end{
  text-align: end;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  right: 10px;
  top: calc(20% - 4px);
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
  padding-top: 10px; 
}
.star-color{
  color: #b73439;
  text-align: start;
  font-weight: lighter;
}
.vertical-line{
  border-left: 1px solid #e6e6e6;
  height: 97%;
  float: left;
  margin-left: -2%;
}
.adjust-text-second-section{
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
}
.adjust-text-first-section{
  margin-right: 8%;
  margin-left: 3.5%;
  margin-bottom: 5%;
  font-size: 14px;
}
.horizontal-line{
  border-left: 6px solid #e6e6e6;
  margin-right: 5%;
}
.btn-success{
  color: #fff;
  background-color: #3eb549;
  border-color: #37a241;
}
.content-after-sections{
  margin-left: 30%;
  margin-bottom: 3%;
}
.fa-check{
  color: #37a241;
}
.div-for-image{
  margin-top: 7%;
  width: 90%;
}
.car-sold-image{
  max-width: 100%; 
  height: auto;
}
.error-message {
  color: red;
  font-size: 0.8em;
}
.form-control.is-invalid{
  background-color: #b73439;
  color: #b73439;
  background-image: none;
}
.form-control.is-valid{
  background-image: none;
  background-color: #37a241;
  color: #37a241;
}
.form-control:hover{
  border-color: none;
  box-shadow: none;
}
.form-control.is-invalid:hover,.form-control.is-valid:hover{
  border-color: none;
  box-shadow: none;
}
.select2-container--default.select2-container--open .select2-dropdown {
  margin-top: -18px;
  border-color: #e6e6e6;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  margin-left: -1.5%;
  width: 103%;
  height: 100%;
  box-shadow: none;
  border-radius: 0%;
  padding: 5px;
}
.select2-search--dropdown {
  display: block;
  padding: 15px;
  background: #cbd5e9;
}

@media only screen and (min-width: 310px) and (max-width: 767px)
{
  body{
    font-size: 0.5rem;
  }
  .main-container{
    margin-left: 10%;
    margin-right: 10%;
  }
  .h1-class{
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 0.3;
  }
  .container{
    margin-top: 4%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .form-container{
    padding-left: 4%;
    padding-top: 3%;
    margin-bottom: 5%;
  }
  .ad-input input::placeholder {
    font-size: 0.6rem; 
  }
  .ad-input option {
    font-size: 0.8rem;
  }
  .ad-input{
    margin-left: 2%;
  }
  .tex-end{
    text-align: start;
    margin-left: 4%;
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    right: 10px;
    top: calc(20% - 4px);
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
    padding-top: 10px; 
  }
  .container-2{
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 10%; 
  }
  .vertical-line{
    border-left: 0px solid #e6e6e6;
  }
  .right-list{
    margin-left: -50%;
  }
  .unorder-list .list-item{
    list-style: none;
    display: block;
    margin-bottom: 5%;
    text-align: start;
    margin-left: 28%;
    font-size: 0.8rem;
  }
  .eight-columns{
    font-size: 0.6rem;
  }
  .adjust-text-second-section{
    margin-left: 5%;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .adjust-text-first-section{
    margin-right: 8%;
    margin-left: 3.5%;
    margin-bottom: 5%;
    font-size: 0.8rem;
  }
  .horizontal-line{
    border-left: 6px solid #e6e6e6;
    margin-right: 5%;
  }
  .content-after-sections{
    margin-left: 25%;
    margin-bottom: 3%;
    font-size: 0.8rem;
  }
  .fa-check{
    color: #37a241;
  }
  .text-normal-ad{
    margin-left: 15%;
  }
  .div-for-image{
    width: 100%;
    margin-top: 20%;
  }
  .car-sold-image{
    max-width: 90%; 
    height: auto;
  }  
  .btn-smaller{
    font-size: 0.6rem;
    padding: 0.3rem 0.3rem;
  }
  .post-normal-ad{
    margin-top: 4%;
    margin-left: 20%;
  }
}
@media (min-width: 1540px)
{
  .main-container{
    margin-left: 27%;
    margin-right: 27%;
  }
}
