*{
  box-sizing: border-box;
}
div{
  display: block;
}
body{
  font-family: "Lato",Sans-Serif;
  font-size: 14px;
  line-height: 1.4287;
  color: #434343;
  background-color: #fff;
  font-weight: 400;
}
h1{
  color: #233d7b;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 5px;
}
.container{
  margin-top: 4%;
  padding-left: 10px;
  padding-right: 10px;
}
.form-container{
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  padding-left: 4%;
  padding-top: 3%;
  margin-bottom: 5%;
}
.form-check{
  float: right;
}
.container-2{
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
ul li{
  list-style: none;
  display: block;
  margin-bottom: 5%;
  text-align: start;
  margin-left: 5%;
  margin-right: 15%;
}
.col-md-8{
  font-size: 16px;
}
.star-color{
  color: #b73439;
  text-align: start;
  font-weight: lighter;
}
.vertical-line{
  border-left: 1px solid #e6e6e6;
  height: 95%;
  float: left;
}
.adjust-text-second-section{
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
}
.adjust-text-first-section{
  margin-right: 8%;
  margin-left: 3.5%;
  margin-bottom: 5%;
  font-size: 14px;
}
.horizontal-line{
  border-left: 6px solid #e6e6e6;
  margin-right: 5%;
}
.btn-success{
  color: #fff;
  background-color: #3eb549;
  border-color: #37a241;
}
.content-after-sections{
  margin-left: 30%;
  margin-bottom: 3%;
}
.fa-check{
  color: #37a241;
}