*{
  box-sizing: border-box;
}
body{
  font-family: "Lato",Sans-Serif;
  font-size: 14px;
  line-height: 1.4287;
  color: #434343;
  background-color: #fff;
  font-weight: 400;
}
#error_explanation{
  color: #b73439;
  font-size: 1rem;
}
.main-container{
  margin-left: 125px;
  margin-right: 125px;
}
.h1-class{
  color: #233d7b;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 5px;
}
.container-2{
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px; 
}
.unorder-list .list-item{
  list-style: none;
  display: block;
  margin-bottom: 10px;
  text-align: start;
  margin-left: 15px;
  margin-right: 25px;
}
.eight-columns{
  font-size: 16px;
}
.tex-end{
  text-align: end;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  right: 10px;
  top: calc(20% - 4px);
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
  padding-top: 10px; 
}
.star-color{
  color: #b73439;
  text-align: start;
  font-weight: lighter;
}
.vertical-line{
  border-left: 1px solid #e6e6e6;
  height: 97%;
  float: left;
  margin-left: -10px;
}
.adjust-text-second-section{
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
}
.adjust-text-first-section{
  margin-right: 25px;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}
.horizontal-line{
  border-left: 6px solid #e6e6e6;
  margin-right: 35px;
}
.btn-success{
  color: #fff;
  background-color: #3eb549;
  border-color: #37a241;
}
.content-after-sections{
  margin-left: 280px;
  margin-bottom: 30px;
}
.fa-check{
  color: #37a241;
}
.div-for-image{
  margin-top: 20px;
  width: 90%;
}
.car-sold-image{
  max-width: 90%; 
  height: auto;
}
.error-message {
  color: red;
  font-size: 0.8em;
}
.form-control.is-invalid{
  background-color: #b73439;
  color: #b73439;
  background-image: none;
}
.form-control.is-valid{
  background-image: none;
  background-color: #37a241;
  color: #37a241;
}
.form-control:hover{
  border-color: none;
  box-shadow: none;
}
.form-control.is-invalid:hover,.form-control.is-valid:hover{
  border-color: none;
  box-shadow: none;
}
.ad-input-sell .form-control{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 4px;
  height: 48px;
  padding: 6px 18px;
  font-size: 14px;
  vertical-align: middle;
  max-width: 100%;
  margin-bottom: 17px;
}
.select2-container--default.select2-container--open .select2-dropdown {
  margin-top: -18px;
  border-color: #e6e6e6;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  margin-left: -6px;
  width: 103%;
  height: 100%;
  box-shadow: none;
  border-radius: 0%;
  padding: 5px;
}
.select2-search--dropdown {
  display: block;
  padding: 15px;
  background: #cbd5e9;
}
@media (min-width: 768px)
{
  .container-2{
    justify-content: center;
    text-align: center;
    margin-left: -7px;
    margin-right: 20px; 
  }
  .content-after-sections{
    margin-left: 60px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 310px) and (max-width: 767px)
{
  body{
    font-size: 0.5rem;
  }
  .main-container{
    margin-left: 30px;
    margin-right: 30px;
  }
  .h1-class{
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 0.3;
  }
  .container{
    margin-top: 4%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .form-container{
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .ad-input input::placeholder {
    font-size: 0.6rem; 
  }
  .ad-input option {
    font-size: 0.8rem;
  }
  .ad-input{
    margin-left: 4px;
  }
  .tex-end{
    text-align: start;
    margin-left: 8px;
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    right: 10px;
    top: calc(20% - 4px);
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
    padding-top: 10px; 
  }
  .container-2{
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 10px; 
  }
  .vertical-line{
    border-left: 0px solid #e6e6e6;
  }
  .right-list{
    margin-left: -80px;
  }
  .unorder-list .list-item{
    list-style: none;
    display: block;
    margin-bottom: 10px;
    text-align: start;
    margin-left: 60px;
    font-size: 0.8rem;
  }
  .eight-columns{
    font-size: 0.6rem;
  }
  .adjust-text-second-section{
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .adjust-text-first-section{
    margin-right: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  .horizontal-line{
    border-left: 6px solid #e6e6e6;
    margin-right: 20px;
  }
  .content-after-sections{
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 0.8rem;
  }
  .fa-check{
    color: #37a241;
  }
  .text-normal-ad{
    margin-left: 70px;
  }
  .div-for-image{
    width: 100%;
    margin-top: 50px;
  }
  .car-sold-image{
    max-width: 90%; 
    height: auto;
  }  
  .btn-smaller{
    font-size: 0.6rem;
    padding: 0.3rem 0.3rem;
  }
}
