.image-content-26{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -40px;
}
.image-jpg-26{
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.h2-26{
  margin-bottom: 20px;
  margin-top: 0px;
  color: #434343;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 700;

}
.custom-card-body-26{
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #434343;
  border-radius: 8px;
  padding: 10px;
  margin:0px 5px;
  text-align: center;
  background-color: #E7F1FF;
}
.cards-26-container{
  padding-right: 0%;
  margin-top: 60px;
  margin-bottom: 50px;
}
.design-26{
  background-color: #fff;
  padding: 40px 0px;
}
.card-26{
  padding-right: 0;
  --bs-gutter-x: 0;
  background-color: #fff;
}
.para-26{
  font-family: sans-serif;
  font-size: 18px;
  margin: 18px 0 10px;
}
.h5-26{
  font-size: 18px;
}
.design-27{
  padding: 40px 0px;
}
.h3-design-27{
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
.image-jpg-27{
  height: 70px;
  width: 70px;
}
.design-27-mtop{
  margin-top: 30px;
}
.c-design-27{
  font-family: sans-serif;
  padding-left: 35px;
  padding-right: 35px;
}
.container-w-27{
  max-width: 1020px;
}
.design-27{
  background-color: #f2f3f3;
}
.container-width-28{
  width: 1020px;
}
.design-28{
  display: flex;
  font-family: sans-serif;
  padding: 40px 0px;
  background-color: #fff;
}
.design-28 .row {
  display: flex;
  flex-wrap: wrap;
}
.testimonials-col{
  flex: 0 0 calc(25% - 20px);
  border: 1px solid #e8e8e8;
  margin: 5px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
}
.fsize-28 {
  margin: 0px 0px 10px;
  font-size: 16px;
}
.custom-size-28-1{
 height: 48px;
 width: 48px;
}
.custom-size-28-2{
  height: 46px;
  width: 46px;
 }
 .custom-size-28-3{
  height: 44px;
  width: 45px;
 }
 .custom-size-28-4{
  height: 57px;
  width: 48px;
 }
.typeof-insurance-img{
  display: flex;
  height: 65px;
  margin-bottom: 2px;
}
.design-card-paras{
  color: #858585;
  margin-bottom: 0 !important;
}
.design-25-lst-para{
  margin-top: 30px;
  margin-bottom: 5px;
}
.a-card{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.design-29{
  padding: 40px 0px;
  font-family: sans-serif;
}
.h2-29{
  margin-bottom: 50px;
  margin-top: 0px;
  color: #434343;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.container-width-29{
  width: 1020px;
}
.sectionpk-29-column{
  display: flex;
  flex-direction:column;
  max-width: 320px;
  padding: 0px;
  border: 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 13px rgba(67,67,67,0.15);
  margin: 0px 10px;
  background-color: #ffffff;
}
.carousel-inner {
  width: auto;
}
.review-car{
  flex:1 1 auto;
  padding: 15px 15px 0px;
}
.carousel-control-prev{
  float: left;
}
.carousel-control-prev{
  padding: 0;
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50% !important;
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
  text-align: center;
  color: #808ca9;
}
.carousel-control-next{
  float: right;
  padding-left: 1px;
}
.carousel-control-next{
  opacity: 1;
  padding: 0;
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50% !important;
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
  text-align: center;
  color: #808ca9;
}
.carousel-control-outer{
  opacity: 1;
  position: absolute;
  top: 50%;
  left: -20px;
  z-index: 2;
}
.carousel-control-oo{
  position: absolute;
  top: 50%;
  right: -20px;
}
.review-car-detail{
  padding: 0 15px 15px;
}
.ftz-29{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0 !important;
}
.pakwheel-stars{
  color: #ef730f;
  padding: 0px !important;
  font-size: 13px;
}
.carousel-indicators{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: -25px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}
.carousel-indicators .active {
  background-color: #518ecb;
  border-color: #518ecb;
}
.card-29-para{
  color: #7b8397;
}
.review-car{
  color: #7b8397;
}
.container-width26{
  max-width: 1020px;
  padding-bottom: 32px !important;
  padding-top: 20px !important;
}
.image-content-31{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -35px;
}
.image-jpg-31{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.h2-31{
  margin-bottom: 80px;
  color: #434343;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 700;

}
.custom-card-body-31{
  border: 1px solid #1877f2;
  min-height: 140px;
  color: #434343;
  border-radius: 8px;
  padding: 6px 25px;
  margin:0px 5px;
  text-align: center;
  background-color: #E7F1FF;
}
.cards-31-container{
  margin-top: 35px;
  padding-right: 0px 14px;
}
.design-31{
  background-color: #fff;
  padding: 40px 0px;
}
.card-31{
  padding-right: 0;
  --bs-gutter-x: 0;
  background-color: #fff;
}
.para-31{
  font-family: sans-serif;
  margin: 18px 0 10px;
}
.h5-31{
  font-size: 18px;
}
.embed-responsive-item{
  width: 1000px;
  height: 480px;
}
.design-32{
  background-color: #f2f3f3;
  padding: 40px 0px;
}
.h2-32{
  margin-bottom: 20px;
  color: #545454;
  ;
  font-size: 26px;
  font-weight: 700;
  font-family: sans-serif;
}
.container-width32{
  max-width: 1020px;
  margin-top: 0px;
}
.ph3-33{
  font-size: 16px;
  color: #233d7b;
  font-weight: 700;
}
.ph33{
  padding: 10px;
}
.custom-link-p33{
  color: #518ecb;
  text-decoration: none;
}
.review-car-p33{
  margin-bottom: 0px;
}
.design-34{
  padding: 40px 0px;
  font-family: sans-serif;
  background-color: #f2f3f3;
}
.accordion {
  margin: 20px auto;
}

.question {
  font-size: 16px;
  font-weight: 600;
  color: #434343;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 18px;
  margin: 20px 0px 0px;
  cursor: pointer;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.answer {
  display: none;
  font-size: 15px;
  padding: 15px 18px;
  border-top: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  background-color: #f2f3f3;
}