.form-design35{
  background-color: #f2f2f2;
  padding: 40px 0;
}
.registration-span{
  float: none;
  width: 370px;
  margin: 30px auto 50px;  
}
.show35-pdd{
  border-radius: 5px;
  padding: 29px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
.h1-show{
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  margin: 10px 0px 30px;
  color: #233d7b;
}
.para-show{
  margin: 10px auto;
}
.input-text-35{
  padding: 6px 18px;
}
.btn-show-35{
  display: block;
  margin: auto;
  width: 300px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 0;
  font-weight: bold;
  color: #fff;
  background-color: #233d7b;
  border-radius: 2px;
  border-color: #1d3367;
  text-transform: capitalize;
}
.link-styled35{
  max-width: 100%;
  width: 300px;
  text-align: center;
  text-decoration: none;
}